1 What are data structures, and why are they important?
- data structure are improtant for specialized formats for organizing, storing, and managing data.

2 Explain the difference between mutable and immutable data types with examples?
- Mutable - this type of data type are changed after created
ex.list,set,Dictionaries.
- Immutable - this type of data type are not changed once created ex. string,tuple.

3 What are the main differences between lists and tuples in Python ?
 - list are mutable & tuples are immutable
 - list are defined as [] & tuple are defined as()

4 Describe how dictionaries store data?
- In dictionaries stored data in key value pair

5 Why might you use a set instead of a list in Python?
- set are contain the unordered collection of unique element & it also remove the duplication of the data
- list contain duplication element

6 What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters enclosed in quotes (single or  double,)
- And a list is a sequence of elements that can be of any data type, enclosed in square brackets.

7 How do tuples ensure data integrity in Python?
- because they are immutable once a tuple is created then  its contents cannot be changed, added to, or removed from.

8  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows for fast data retrieval using a key.
- In Python, the built-in dict (dictionary) type is implemented using a hash table.

9 Can lists contain different data types in Python?
- Yes, lists contain elements of different data types

10 Explain why strings are immutable in Python?
- Strings are immutable in Python because their design prioritizes performance, security, and simplicity in handling text data.

11 What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries store data as key-value pairs, making it easy to associate related information (like a name and phone number) instead of just values in order.
- Updating the value for a key is straightforward and doesn’t require searching for an item’s position.

12 Describe a scenario where using a tuple would be preferable over a list?
-  tuple used coordinates of a point in 2D space like (x, y) values.
- Coordinates shouldn’t change once set. Tuples are immutable, so the values stay fixed.

13 How do sets handle duplicate values in Python?

- When you add elements to a set, if an element is already present, it won’t be added again.

14  How does the “in” keyword work differently for lists and dictionaries?
- In list Checks if a value exists anywhere in the list.
- In dictionaries Checks if a key exists in the dictionary.

15 Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable.

16 What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries.

In [1]:
nested_dict = {
    "person1": {
        "name": "ram",
        "age": 3,
        "city": "nashik"
    },
    "person2": {
        "name": "sita",
        "age": 5,
        "city": "pune "
    }
}

17  Describe the time complexity of accessing elements in a dictionary?
- Time complexity of dictionary O(1)

18 In what situations are lists preferred over dictionaries?
- Lists preserve order and let you access elements by index (e.g., first, last, or by position). Dictionaries only preserve insertion order but are keyed by unique keys.
- When you just need to store items in a sequence without keys, lists are simpler and more natural.
-	Lists can hold duplicate elements; dictionaries require unique keys.

19  Why are dictionaries considered unordered, and how does that affect data retrieval?
- dictionaries did not preserve the order of items — that is, the order in which you added key-value pairs could be lost when you accessed or iterated over them.

20 Explain the difference between a list and a dictionary in terms of data retrieval.
- In list Elements in a list are retrieved by their integer index
- In dictionary retrieve values by specifying the key, not the position

In [2]:
# Write a code to create a string with your name and print it?
name = "Tanmay"
print(name)

Tanmay

In [3]:
# Write a code to find the length of the string "Hello World"?
string  = "Hello World"
print(len(string))

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
print(string[0:3])

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase?
string = "hello"
print(string.upper())

HELLO

In [6]:
 # Write a code to replace the word "apple" with "orange" in the string "I like apple"?
 string  = "I like apple"
 print(string.replace("apple","orange"))

I like orange

In [7]:
#  Write a code to create a list with numbers 1 to 5 and print it?
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [11]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [12]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [13]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [14]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [15]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animal = ('dog', 'cat', 'rabbit')
print(animal.index('cat'))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [17]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

In [18]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [19]:
 # Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 set = {1,2,3,4}
 set.remove(4)
 print(set)

{1, 2, 3}

In [20]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [23]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {"name":"Tanmay","age":20,"city":"pune"}
print(dictionary)

{'name': 'Tanmay', 'age': 20, 'city': 'pune'}

In [24]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict =  {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [26]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

In [28]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {"name":"vaishnavi","age":20,"city":"pune"}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'vaishnavi', 'age': 20, 'city': 'pune'}

In [29]:
 '''Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''

list = [23,45,34,78,65]
list.sort()
print(list)

[23, 34, 45, 65, 78]

In [30]:
# Write a code to create a list with strings and print the element at the third index
list = ["apple","banana","orange","grapes"]
print(list[2])

orange

In [31]:
# Write a code to combine two dictionaries into one and print the result
dict1 = {"fruit":"banana","color":"yellow","animal":"cow"}
dict2 = {"flower":"rose","subject":"programming"}
dict1.update(dict2)
print(dict1)

{'fruit': 'banana', 'color': 'yellow', 'animal': 'cow', 'flower': 'rose', 'subject': 'programming'}

In [35]:

string_list = ["apple", "banana", "apple", "orange", "banana"]

string_set = set(string_list)

print(string_set)

{'banana', 'apple', 'orange'}